@import "./colors.scss";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	background-color: $bg-main;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFPRODISPLAYBLACKITALIC.OTF");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFPRODISPLAYBOLD.OTF");
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFPRODISPLAYMEDIUM.OTF");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFPRODISPLAYTHINITALIC.OTF");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFPRODISPLAYREGULAR.OTF");
	font-weight: 400;
	font-style: normal;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

.container {
	max-width: 375px;
	margin: 0px auto;
	padding: 0px 24px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
